<% content_for :head do %>
<script>
$(document).ready(function() {
  $('#summit_btn').click(function() {
    $('#confirm_credit').submit();
  });
  $('input:radio').click(
      function(){
        $('#summit_btn').attr( 'disabled', false );
      }
  );
});
</script>
<% end %>
<div class="indextbody">
<div class="padding-top68">
  <div class="container">
    <div class="indent-warp">
      <div class="indent-step">
        <div class="col-xs-4 step-stopfirst"><span>1</span>
          <p>确认支付信息</p>
        </div>
        <div class="col-xs-4 step-stop"><span>2</span>
          <p>选择一个支付方进行支付</p>
        </div>
        <div class="col-xs-4"><span>3</span>
          <p>支付完成，等待收货</p>
        </div>
      </div>
			<form id="confirm_credit" target="_blank" method="post" action="/orders/pay" accept-charset="UTF-8">
      <input type="hidden" name="order_id" id="order_id" value="<%= @order.md5 %>">
      <div class="col-lg-12 padding-top20">
        <div class="payment-div">您需要支付<span> <%= @order.total_price %> </span>元，请选择支付方式</div>
        <div class="fn18 padding-top20">支付平台</div>
        <div class="payment-bank">
          <ul>
          <% for p in Settings.PAYMENT_PLATFORMS%>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="<%= p.option_value %>">
                <img src="/images/<%= p.image %>" /> </label>
            </li>
          <% end %>
	        </ul>
          <div class="clearfix"></div>
        </div>
	      <div class="fn18">网银支付</div>
	      <div class="payment-bank">
          <ul>
          <% for p in Settings.PAYMENT_BANKS%>
            <li>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="<%= p.option_value %>">
                <img src="/images/<%= p.image %>" /> </label>
            </li>
          <% end %>
          </ul>
          <div class="clearfix"></div>
				</div>
				<div class="text-center"> <button class="btn btn-primary btn-lg indent-btn2" data-toggle="modal" data-target="#myModal" id="summit_btn" disabled="true">去支付~</button></div>
      </div>
      </form>
    </div>
  </div>
</div></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="fn18">请在新打开的支付页面上完成付款</div>
      </div>
      <div class="modal-body">

	      <div>如果您当前的浏览器无法付款，你可以换用其他浏览器，打开以下连接
<br /><% pay_link = Settings.HOST + "/orders/confirm/#{@order.md5}" %>
<a href='<%= pay_link %>' target="_blank"><%= pay_link %></a></div>

      </div>
      <div class="modal-footer">
      <button class="btn btn-primary indent-btn3" data-dismiss="modal" aria-hidden="true">重新选择</button>
      <a href="/orders/close/<%= @order.md5 %>"><button type="button" class="btn btn-primary indent-btn4">支付成功</button></a>
      </div>
    </div>
  </div>
</div>