<% content_for :title do %>
<%= "您的订单 - " + Settings.TAGLINE %>
<% end %>
<div class="padding-top68 indextbody">
  <div class="container">
		<div class="indent-warp">
		<div class="orderlist-top fn18">您的订单</div>
		<div class="padding-top20 col-lg-12">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered indent-price text-center">
			<tr>
				<th width="80px" class="text-center">模型</th>
				<th class="text-center">品名</th>
				<th class="text-center" width="100px">状态</th>
				<th class="text-center">物流信息</th>
				<th class="text-center" width="130px">下单时间</th>
			</tr>
			<% @orders.each do |order| %>
		  <tr>
		  	<% job = Job.find(order.order_items[0].job_id)%>
		    <td><img src="/obj/<%= job.name %>/<%= job.name %>_t_s.jpg" /></td>
		    <td><a href="/orders/<%= order.md5.to_s %>"><%= Settings.PRODUCTS[order.order_items[0].job_style.to_i]["product_name"]%></a></td>
	      <td>
      	<% if order.status == 'new' %>
          <%= ('<span class="orderlist-state4"><a href="/orders/confirm/' + order.md5.to_s + '">去付款</a></span>').html_safe %>
        <% else
				order_class=order.status_class
				order_status=Order.readable_status(order.status)
				%>
        	<span class="<%=order_class%>"><%=order_status%></span>
      	<% end %>
        </td>
		    <td><%= order.shipment.mixed_str %>
		    	<% if order.status == "delivering" %>
		    	<br>物流号：<%= order.logistics %></td>
		    	<% end %>
		    <td><%= beautify_time(order.created_at) %></td>
		  </tr>
			<% end %>
		</table>
		</div>
		</div>
	</div>
</div>