<%content_for :head do%>
    <%= javascript_include_tag "parsley.min","parsley-messages.zh_cn"%>
<%end%>
<div class="padding-top68 indextbody">
    <div class="container">
      <div class="indent-warp">
        <div class="indent-step">
          <div class="col-xs-4 step-stop"><span>1</span>
              <p>确认支付信息</p>
          </div>
          <div class="col-xs-4 step-bg"><span>2</span>
              <p>选择一个支付方进行支付</p>
          </div>
          <div class="col-xs-4 step-bg"><span>3</span>
              <p>支付完成，等待收货</p>
          </div>
        </div>
      <div class="padding-15">
        <form id="form_order" action="/order/confirm" method="post">
          <% if signed_in? %>
              <div class="col-sm-8" id="div_login">
                  <div class="login-warp">
                    <div class="fn18 padding-top20 ">收货信息</div>
                    <% current_user.shipments.each do |shipment| %>
                    <!--地址一-->
                    <div class="login-sites">
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="<%= shipment.id%>" checked>
                      <div class="div-site">
                        <span class="close"><img src="images/numlist123-22.jpg" alt="删除" /></span>
                        <p><%= shipment.mixed_str %></p>
                      </div>
                    </div>
                    <% end %>
                    <div class="login-addsite">你需要一个新地址？请在下面输入：</div>
                    <div class="indent-inputin">
                      <input type="email" class=" indent-input2 indent-inputred"  placeholder="1234">
                      <span><img src="images/numlist123-19.jpg"  />请输入你的姓名</span> </div>
                    <div class="indent-inputin">
                      <input type="email" class=" indent-input2"  placeholder="请输入手机号码">
                    </div>
                    <div class="indent-inputin">
                      <input type="email" class=" indent-input3"  placeholder="请输入收货地址">
                    </div>
                  </div>
              </div>
          <div class="col-sm-4">
            <div class="indent-login" style="cursor:pointer">
              <a>还没有账户？点这里注册</a>
            </div>
          </div>

        
        <% else %>
        
              <div class="col-sm-8" id="div_register">
                <div class="login-warp">
                    <div class="fn18">账户注册</div>
                    <div class="indent-inputin">
                        <table><tr><td>
                            <input type="text" class="indent-input" id="email" name="email" placeholder="tale@mail.com" parsley-required="true" parsley-type="email" parsley-trigger="change" parsley-error-container="#register_email_validation"/>
                            </td><td><span></span></td><td id="register_email_validation"></td></tr></table>
                    </div>
                    <div class="indent-inputin">
                        <table><tr><td>
                            <input type="password" class="indent-input" id="password" name="password" placeholder="请输入密码" parsley-required="true" parsley-validation-minlength="1" parsley-minlength="6" parsley-trigger="change" parsley-error-container="#register_password_validation" parsley-minlength-message="密码应至少6位"/>
                            </td><td><span></span></td><td id="register_password_validation"></td></tr></table>
                    </div>
                    <div class="indent-inputin">
                        <table><tr><td>
                            <input type="password" class="indent-input" id="password_confirmation" name="password_confirmation" placeholder="请确认密码" parsley-required="true" parsley-equalto="#password" parsley-validation-minlength="1" parsley-trigger="change" parsley-error-container="#register_confirm_validation" parsley-equalto-message="密码不一致"/>
                            </td><td><span></span></td><td id="register_confirm_validation"></td></tr></table>
                    </div>
                    <div class="fn18 padding-top20">收货信息</div>
                    <div class="indent-inputin">
                        <table><tr><td>
                            <input type="text" class="indent-input2" id="name" name="name" placeholder="姓名" parsley-required="true"  parsley-error-container="#name_validation" parsley-validation-minlength="1" parsley-trigger="keyup" parsley-required-message="请输入你的姓名"/>
                            </td><td><span></span></td><td id="name_validation"></td></tr></table>
                    </div>
                    <div class="indent-inputin">
                        <table><tr><td>
                            <input type="text" class="indent-input2" id="phone" name="phone" placeholder="手机号码" parsley-required="true"  parsley-error-container="#phone_validation" parsley-regexp="1\d{10}" parsley-trigger="keyup" parsley-required-message="请输入手机号码"/>
                            </td><td><span></span></td><td id="phone_validation"></td></tr></table>
                    </div>
                    <div class="indent-inputin"><table><tr><td>
                        <input type="text" class="indent-input3" id="address" name="address" placeholder="收货地址" parsley-required="true"  parsley-error-container="#address_validation" parsley-validation-minlength="1" parsley-trigger="keyup" parsley-required-message="请输入收货地址"/>
                        </td><td><span></span></td><td id="address_validation"></td></tr></table>
                    </div>
                  </div>
              </div>
              <div class="col-sm-4">
                <div class="indent-login" style="cursor:pointer">
                  <a href="/users/sign_in">已经有了账户？点这里登录</a>
                </div>
              </div>
          <% end %>
              <p class="clearfix"></p>
              <div class="col-lg-12">
                  <div class="indent-OrderInfo">订单信息</div>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered indent-price">
                      <tr>
                          <th>名称</th>
                          <th width="15%" class="text-center">&nbsp;</th>
                          <th width="15%" class="text-center">价格</th>
                      </tr>
                      <tr>
                          <td><input type="hidden" id="job_id" name="job_id" value="<%=@job_id%>"/><img src="/images/numlist123-20.jpg" width="80" height="80" /><span class="names">品名：<%= Settings.PRODUCTS[@job_style]["product_name"] %></span></td>
                        <td>
                          <div class="alipay-divs">
                            <span class="span-jian" onclick="var v;if((v=parseInt($('#count').val()))>0)$('#count').val(--v);updateTotal(v);"></span>
                            <input id="count" name="count" type="text"  class="span-input" value="10"/>
                            <span class="span-jia" onclick="var v;if((v=parseInt($('#count').val()))<10)$('#count').val(++v);updateTotal(v);"></span>
                          </div>
                        </td>
                        <script type="text/javascript">
                          function updateTotal(v){
                            $('#total').html(' '+v*<%= Settings.PRODUCTS[@job_style]["product_price"] %>+' ');
                          }
                        </script>
                          <td class="text-center fn18"><%= Settings.PRODUCTS[@job_style]["product_price"] %> 元</td>
                      </tr>
                  </table>
                  <table class="indent-inputin"><tr><td><span id="job_id_validation_img"></span></td><td id="job_id_validation"></td></tr></table>
                  <p class="text-right">共计：<span id="total" class="indent-total"> <%= Settings.PRODUCTS[@job_style]["product_price"]*10 %> </span>元</p>
                  <div class="text-center"> <button type="submit" class="btn btn-primary btn-lg indent-btn2">确认订单</button>
                  </div>
              </div>
          </form>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#form_order').parsley({ successClass: '', errorClass: 'indent-inputred' });
    $('#form_order').parsley( 'addListener', {
    onFieldSuccess: function ( elem ) {
        if(elem.attr('type')!='checkbox')
            elem.parent().next().children().html('<img src="/images/numlist123-18.jpg"  />');
        else
            $('#job_id_validation_img').html('<img src="/images/numlist123-18.jpg"  />');
        return true;
    },
    onFieldError: function ( elem ) {
        if(elem.attr('type')!='checkbox')
            elem.parent().next().children().html('<img src="/images/numlist123-19.jpg"  />');
        else
            $('#job_id_validation_img').html('<img src="/images/numlist123-19.jpg"  />');
        return false;
    }
} );
</script>