<%content_for :head do%>
    <%= javascript_include_tag "parsley.min","parsley-messages.zh_cn"%>
<%end%>
<div class="padding-top68 indextbody">
    <div class="container">
      <div class="indent-warp">
        <div class="indent-step">
          <div class="col-xs-4 step-stop"><span>1</span>
              <p>确认支付信息</p>
          </div>
          <div class="col-xs-4 step-bg"><span>2</span>
              <p>选择一个支付方进行支付</p>
          </div>
          <div class="col-xs-4 step-bg"><span>3</span>
              <p>支付完成，等待收货</p>
          </div>
        </div>
      <div class="padding-15">
        <form id="form_order" action="/order/confirm" method="post">
          <% if logged_in? %>
              <div class="col-sm-8" id="div_login">
                  <div class="login-warp">
                    <div class="fn18 padding-top20 ">收货信息</div>
                    <script type="text/javascript">
                    function checkMode(){
                      if($('input:radio[value=new]:checked').length){
                        $('input[name=name]').parsley('addConstraint',{required:true});
                        $('input[name=phone]').parsley('addConstraint',{required:true,regexp:'1\\d{10}'});
                        $('input[name=address]').parsley('addConstraint',{required:true});
                      }
                      else{
                        $('input[name=name]').parsley('removeConstraint','required');
                        $('input[name=name]').next().html('');
                        $('input[name=phone]').parsley('removeConstraint','required');
                        $('input[name=phone]').parsley('removeConstraint','regexp');
                        $('input[name=phone]').next().html('');
                        $('input[name=address]').parsley('removeConstraint','required');
                        $('input[name=address]').next().html('');
                      }
                    }
                    </script>
                    <% current_user.shipments.each do |shipment| %>
                    <!--地址一-->
                    <div class="login-sites">
                      <input type="radio" name="shipment_id" id="shipment_<%= shipment.id %>" value="<%= shipment.id%>" onchange="checkMode()" parsley-required="true">
                      <div class="div-site">
                        <label for="shipment_<%= shipment.id %>"><%= shipment.mixed_str %></label>
                      </div>
                    </div>
                    <% end %>
                    <div class="login-sites">
                      <input type="radio" name="shipment_id" id="shipment_new" value="new" checked onchange="checkMode()">
                      <div class="login-addsite"><label for="shipment_new">你需要一个新地址？请在下面输入：</label></div>
                    </div>
                    <div class="indent-inputin">
                      <input type="text" class=" indent-input2" name="name"  placeholder="姓名" onclick="$('#shipment_new').click();" parsley-error-container="#name_validation" parsley-validation-minlength="1" parsley-trigger="keyup" parsley-required-message="请输入你的姓名">
                      <span></span>
                      <span id="name_validation"></span>
                    </div>
                    <div class="indent-inputin">
                      <input type="text" class=" indent-input2" name="phone"  placeholder="手机号码" onclick="$('#shipment_new').trigger('click');" parsley-error-container="#phone_validation" parsley-validation-minlength="11" parsley-trigger="keyup" parsley-required-message="请输入手机号码" parsley-regexp-message="手机号码有误">
                      <span></span>
                      <span id="phone_validation"></span>
                    </div>
                    <div class="indent-inputin">
                      <input type="text" class=" indent-input3" name="address" placeholder="收货地址" onclick="$('#shipment_new').trigger('click');" parsley-error-container="#address_validation" parsley-validation-minlength="1" parsley-trigger="keyup" parsley-required-message="请输入收货地址">
                      <span></span>
                      <span id="address_validation"></span>
                    </div>
                    <script type="text/javascript">
                      $('input[name=name],input[name=phone],input[name=address]').keydown(function(e){
                        if(e.which!=9&&e.which!=13&&e.which!=32)
                          $('#shipment_new').click();
                      });
                    </script>
                  </div>
              </div>
          <div class="col-sm-4">
            <div class="indent-login" style="cursor:pointer">
              <a>还没有账户？点这里注册</a>
            </div>
          </div>

        
        <% else %>
        
              <div class="col-sm-8" id="div_register">
                <div class="login-warp">
                    <div class="fn18">账户注册</div>
                    <div class="indent-inputin">
                      <input type="text" class="indent-input" id="email" name="email" placeholder="tale@mail.com" parsley-required="true" parsley-type="email" parsley-trigger="change" parsley-error-container="#register_email_validation"/>
                      <span></span>
                      <span id="register_email_validation"></span>
                    </div>
                    <div class="indent-inputin">
                      <input type="password" class="indent-input" id="password" name="password" placeholder="请输入密码" parsley-required="true" parsley-validation-minlength="1" parsley-minlength="6" parsley-trigger="change" parsley-error-container="#register_password_validation" parsley-minlength-message="密码应至少6位"/>
                      <span></span>
                      <span id="register_password_validation"></span>
                    </div>
                    <div class="indent-inputin">
                      <input type="password" class="indent-input" id="password_confirmation" name="password_confirmation" placeholder="请确认密码" parsley-required="true" parsley-equalto="#password" parsley-validation-minlength="1" parsley-trigger="change" parsley-error-container="#register_confirm_validation" parsley-equalto-message="密码不一致"/>
                      <span></span>
                      <span id="register_confirm_validation"></span>
                    </div>
                    <div class="fn18 padding-top20">收货信息</div>
                    <div class="indent-inputin">
                      <input type="text" class="indent-input2" id="name" name="name" placeholder="姓名" parsley-required="true"  parsley-error-container="#name_validation" parsley-validation-minlength="1" parsley-trigger="keyup" parsley-required-message="请输入你的姓名"/>
                      <span></span>
                      <span id="name_validation"></span>
                    </div>
                    <div class="indent-inputin">
                      <input type="text" class="indent-input2" id="phone" name="phone" placeholder="手机号码" parsley-required="true"  parsley-error-container="#phone_validation" parsley-regexp="1\d{10}" parsley-trigger="keyup" parsley-required-message="请输入手机号码" parsley-regexp-message="手机号码有误"/>
                      <span></span>
                      <span id="phone_validation"></span>
                    </div>
                    <div class="indent-inputin">
                      <input type="text" class="indent-input3" id="address" name="address" placeholder="收货地址" parsley-required="true"  parsley-error-container="#address_validation" parsley-validation-minlength="1" parsley-trigger="keyup" parsley-required-message="请输入收货地址"/>
                      <span></span>
                      <span id="address_validation"></span>
                    </div>
                  </div>
              </div>
              <div class="col-sm-4">
                <div class="indent-login" style="cursor:pointer">
                  <a href="/accounts/login">已经有了账户？点这里登录</a>
                </div>
              </div>
          <% end %>
              <p class="clearfix"></p>
              <div class="col-lg-12">
                  <div class="indent-OrderInfo">订单信息</div>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered indent-price">
                      <tr>
                          <th>名称</th>
                          <th width="15%" class="text-center">&nbsp;</th>
                          <th width="15%" class="text-center">价格</th>
                      </tr>
                      <tr>
                          <td><input type="hidden" id="job_id" name="job_id" value="<%=@job_id%>"/><img src="/images/numlist123-20.jpg" width="80" height="80" /><span class="names">品名：<%= Settings.PRODUCTS[@job_style]["product_name"] %></span></td>
                        <td>
                          <div class="alipay-divs">
                            <script type="text/javascript">
                              function changeCount(d){
                                var v=parseInt($('#count').val())+d;
                                if(v>=10){
                                  v=10;
                                  $('#span_plus').css('cursor','not-allowed');
                                  $('#span_minus').css('cursor','auto');
                                }
                                else if(v<=0){
                                  v=0;
                                  $('#span_plus').css('cursor','auto');
                                  $('#span_minus').css('cursor','not-allowed');
                                }
                                else{
                                  $('#span_plus').css('cursor','auto');
                                  $('#span_minus').css('cursor','auto');
                                }
                                $('#count').val(v);
                                updateTotal(v);
                              }
                            </script>
                            <span class="span-jian" id="span_minus" onclick="changeCount(-1)"></span>
                            <input id="count" name="count" type="text"  class="span-input" value="10" onchange="changeCount(0)"/>
                            <span class="span-jia" id="span_plus" onclick="changeCount(1)"></span>
                          </div>
                        </td>
                        <script type="text/javascript">
                          function updateTotal(v){
                            $('#total').html(' '+v*<%= Settings.PRODUCTS[@job_style]["product_price"] %>+' ');
                          }
                          changeCount(0);
                        </script>
                          <td class="text-center fn18"><%= Settings.PRODUCTS[@job_style]["product_price"] %> 元</td>
                      </tr>
                  </table>
                  <table class="indent-inputin"><tr><td><span id="job_id_validation_img"></span></td><td id="job_id_validation"></td></tr></table>
                  <p class="text-right">共计：<span id="total" class="indent-total"> <%= Settings.PRODUCTS[@job_style]["product_price"]*10 %> </span>元</p>
                  <div class="text-center"> <button type="submit" class="btn btn-primary btn-lg indent-btn2">确认订单</button>
                  </div>
              </div>
          </form>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#form_order').parsley({ successClass: '', errorClass: 'indent-inputred' });
    $('#form_order').parsley( 'addListener', {
    onFieldSuccess: function ( elem ) {
        if(elem.attr('type')!='checkbox'&&elem.attr('type')!='radio')
            elem.next().html('<img src="/images/numlist123-18.jpg"  />');
        else if(elem.attr('type')!='checkbox')
            $('#job_id_validation_img').html('<img src="/images/numlist123-18.jpg"  />');
        return true;
    },
    onFieldError: function ( elem ) {
        if(elem.attr('type')!='checkbox'&&elem.attr('type')!='radio')
            elem.next().html('<img src="/images/numlist123-19.jpg"  />');
        else if(elem.attr('type')!='checkbox')
            $('#job_id_validation_img').html('<img src="/images/numlist123-19.jpg"  />');
        return false;
    }
} );
  if(checkMode)checkMode();
</script>