<% content_for :title do %>
<%= "订单详情 - " + Settings.TAGLINE %>
<% end %>
<div class="padding-top68 indextbody">
  <div class="container">
		<div class="indent-warp">
		<div class="orderlist-top fn18">订单详情</div>
			<div class="padding-top30 padding-110">
			<div class="col-md-4"><img class="thumb_in_detail" src="/obj/<%= @job.name %>/<%= @job.name %>_t_l.jpg"/></div>
				<div class="col-md-8">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="lineitem-table">
					  <tr>
					    <td class="td-leftbg">品名</td>
					    <td><%= Settings.PRODUCTS[@order.order_items[0].job_style.to_i]["product_name"] %></td>
					  </tr>
					  <tr>
					    <td class="td-leftbg">金额</td>
					    <td><%=@order.total_price %>元</td>
					  </tr>
					  <tr>
					    <td class="td-leftbg">收货信息</td>
					    <td><%=@order.shipment.name %><br><%=@order.shipment.phone %><br><%=@order.shipment.address %></td>
					  </tr>
					  <tr>
					    <td class="td-leftbg">动态</td>
					    <td>
								<table class="table table-hover" style="font-size:12px;margin-bottom:0px;">  
								<% for oh in @order.order_histories %>
									<tr><td><%= beautify_time(oh.created_at) %></td><td><%= Order.readable_status(oh.status) %></td></tr>
								<% end %>
								</table></td>
					  </tr>
					  <tr>
					    <td class="td-leftbg">快递号</td>
					    <td><%=@order.logistics %></td>
					  </tr>
					</table>
				</div>
			</div>
		</div>
  </div>
</div>