<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= render_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "bootstrap.min", "index" %>
    <%= javascript_include_tag "jquery", "bootstrap", "holder" %>
    <%= csrf_meta_tags %>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv", "respond.min" %>
<![endif]-->

<!-- Custom styles for this template -->
<%= yield :head %>


</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top navbar-fixednav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand hidden-sm" href="/"><img src="/images/numlist123-11.jpg" /></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">首页</a></li>
        <li><a href="/faq" target="_blank">FAQ</a></li>
        <li><a href="#" target="_blank"> 查看</a></li>
        <li><a href="/orders">订单</a></li>
        <li><a href="/contact_us">联系我们</a></li>
        <li class="li-login" style="display:none"><a href="#">登录</a><a href="#">注册</a></li>
        <li class="li-login"><a href="#">table...<input name="" type="button"  value="退出" class="user-quick"/>
          </a></li>
      </ul>
    </div>
  </div>
</div>
<%= yield %>

<div class=" footer-bg">
  <div class=" container">
    <div class="col-sm-5"><a href="#">关于我们</a>|<a href="contact_us">联系我们</a>|<a href="#">商务合作</a></div>
    <div class="col-sm-7 text-right">Copyright © 2013 3D Camera by Project MakerLover</div>
  </div>
</div>
</body>
</html>
